<script type="text/javascript">
  $('#id_{{name}}').wymeditor({
      basePath: '{{ STATIC_URL }}',
      updateSelector: 'input[type=submit]',
      updatEvent: 'click',
      skin: 'django',
      elogoHtml: '',
      toolsItems: [ 
	  {{ WYM_TOOLS }} 
      ],
      containersItems: [
	  {{ WYM_CONTAINERS }}
      ],
      classesItems: [
	  {{ WYM_CLASSES }}
      ],
      editorStyles: [
	  {{ WYM_STYLES }} 
      ],
      {% if WYM_STYLESHEET %}
      stylesheet:
          {{ WYM_STYLESHEET }},
      {% endif %}
  });
</script>
